<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RtxServerIp" value="172.16.2.7" />
    <add key="RtxSdkApiPort" value="8006"/>
    <add key="RtxSenderAccount" value="t3"/>
    <add key="RtxSenderAccountPwd" value="1"/>
    <add key="RtxTmplatevirPath" value="~/Template/RtxTemplate/"/>
  </appSettings>
</configuration>